Binaries
DerivedDataCache
Intermediate
Saved
Backup
Build
Plugins

Content/LevelPrototyping/**
Content/Characters/**
Content/Input/**
Content/ThirdPerson/**
Content/FPS_Weapon_Bundle/**
Content/FXVarietyPack/**
Content/StarterContent/**
Content/AnimStarterPack/**
Content/ParagonLtBelica/**
Content/_Main/Player/Animations/**
Content/_Main/Assets/Shootables/Fractures/**

.idea
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace